* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/01/87/78/52/360_F_187785272_IYDuTUwv2ksNUPPrE7a8OrcOZFRtqI3z.jpg");
    color: white;
}

header {
    background-color: #0f78ef;
    height: 4rem;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    z-index: 9999;
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header img {
    width: 9rem;
}

header nav {
    width: 45%;
    margin-right: 3rem;
}

header nav ul {
    display: flex;
    justify-content: end;
    gap: 5rem;
    align-items: center;
    list-style: none;
}

header nav li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
}

main {
    width: 1200px;
    margin: 0 auto;
    min-height: 80vh;
}

header li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#profilePicNav {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

#profileSection ul {
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: #141414cd;
    border: solid #0f77ef 4px;
    border-radius: 15px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#profileSection img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

#profileSection ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#profileSection li {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#profileSection h3 {
    font-size: 25px;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    text-decoration: none;
    font-size: 25px;
    background-color: #0f77ef;
}

.btnPos1 {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}

.btnPos2 {
    position: fixed;
    bottom: 8rem;
    right: 5rem;
}

.btnPos3 {
    position: fixed;
    bottom: 8rem;
    left: 5rem;
}

.btnPos4 {
    position: fixed;
    top: 9rem;
    right: 5rem;
}

.redBg {
    background-color: #a01707;
}

.orangeBg {
    background-color: #ef8e0f;
}

h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

form input {
    background-color: #141414;
    width: 23rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    padding-left: 0.5rem;
    font-size: 18px;
}

form label {
    font-size: 20px;
}

.checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#registration_form_agreeTerms {
    width: 1rem;
}

form div {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 32rem;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
    color: rgb(233, 183, 34);
}

footer {
    background-image: linear-gradient(#041c36, #000000);
    height: 8rem;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
}

#mainPicSection {
    background-image: url("https://media.discordapp.net/attachments/951405087425720362/1429460498998362203/103657.jpg?ex=68f63855&is=68f4e6d5&hm=143b2e759115eb2ef0710aaf3120c21e8f5ea7de6dc18a755eca1cb96bc1748e&=&format=webp&width=840&height=560");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 65rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#mainPicSection div {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 10;
    margin-right: 25%;
}

#mainPicSection ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#mainPicSection p {
    margin: 0;
    text-align: end;
    font-size: 20px;
}

#mainPicSection h1 {
    margin: 0;
    text-align: end;
    font-size: 65px;
}

#mainPicSection a {
    margin-top: 5rem;
    position: relative;
    z-index: 999;
}

#firstPic {
    background-image: url("https://media.discordapp.net/attachments/823998637330923540/1429466385486053437/image.png?ex=68f63dd0&is=68f4ec50&hm=497dd3620d88258ec5b4194c86ff8dbd61c8b9f5b178509f2c5e8a39a4e36be7&=&format=webp&quality=lossless&width=840&height=560");
    width: 60rem;
    height: 35rem;
    border: solid #0f77ef 10px;
    border-radius: 15px;
    margin-right: 25%;
    margin-top: 70rem;
}

#firstPic div {
    background-color: #141414;
    position: absolute;
    margin-top: 10rem;
    right: 10rem;
    width: 30rem;
    padding: 1rem;
    border-radius: 15px;
    border: solid #0f77ef 4px;
}

#firstPic ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#lastPic {
    background-image: url("https://media.discordapp.net/attachments/727458123140431887/1429462612453621831/image.png?ex=68f63a4c&is=68f4e8cc&hm=337fd9242d17ea3dd5df53ccaf4b99c0f2c38e314865820861bdb90c8b15a384&=&format=webp&quality=lossless&width=840&height=560");
    width: 60rem;
    height: 35rem;
    border: solid #0f77ef 10px;
    border-radius: 15px;
    margin-right: 25%;
    margin-top: 8rem;
}

#lastPic div {
    background-color: #141414;
    position: absolute;
    margin-top: 20rem;
    right: 10rem;
    width: 30rem;
    padding: 1rem;
    border-radius: 15px;
    border: solid #0f77ef 4px;
}

#lastPic ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#secPic {
    background-image: url("https://media.discordapp.net/attachments/823998637330923540/1429467369406992524/image.png?ex=68f63ebb&is=68f4ed3b&hm=142deb2b653e216abe9fe5dd2232d71e7dd0dbb1fd464883b7cb22982950b094&=&format=webp&quality=lossless&width=840&height=560");
    width: 60rem;
    height: 35rem;
    border: solid #0f77ef 10px;
    border-radius: 15px;
    margin-left: 25%;
    margin-top: 8rem;
}

#secPic div {
    background-color: #141414;
    position: absolute;
    margin-top: 15rem;
    left: 10rem;
    width: 30rem;
    padding: 1rem;
    border-radius: 15px;
    border: solid #0f77ef 4px;
}

#secPic ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#createForm div {
    display: flex;
    flex-direction: column;
}

#tasksSection {
    display: flex;
    gap: 5rem;
    margin-top: 10rem;
}

#tasksSection div {
    width: 28rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#tasksSection ul {
    background-color: #0f78ef;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#tasksSection li {
    display: flex;
    justify-content: space-between;
    background-color: #722960;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
}

#tasksSection li button {
    background-color: transparent;
    border: none;
}

#tasksSection ol {
    display: flex;
    gap: 1rem;
}

#tasksSection ol li {
    padding: 0;
}

#user {
    display: flex;
    flex-direction: column;
}
